Repository sabrinaluo/gatsby-theme-replica: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, import-sort --write, eslint --fix

chore: npm ignore & version bump
  gatsby-theme-replica/.npmignore
  gatsby-theme-replica/README.md
  gatsby-theme-replica/package.json
Due: prettier --write

style: prism code highlight last line
  .huskyrc.json
  gatsby-theme-replica/src/styles/article.css
Due: prettier --write

chore: show flagCount on prod only
  gatsby-theme-replica/src/components/Layout/Footer.tsx
Due: prettier --write, import-sort --write, eslint --fix

test: for relative time
  gatsby-theme-replica/src/utils/__tests__/date.test.ts
Due: prettier --write, import-sort --write, eslint --fix

feat: show prev & next post
  .huskyrc.json
  gatsby-theme-replica/gatsby-node.js
  gatsby-theme-replica/src/templates/post.tsx
Due: prettier --write, import-sort --write, eslint --fix

fix: example theme version
  example/package.json
Due: prettier --write

feat: tag list, category list, tag posts, category posts
  gatsby-theme-replica/gatsby-node.js
  gatsby-theme-replica/src/components/Tag.tsx
  gatsby-theme-replica/src/templates/categories.tsx
  gatsby-theme-replica/src/templates/tag.tsx
  gatsby-theme-replica/src/templates/tags.tsx
  gatsby-theme-replica/src/utils/slugify.js
Due: prettier --write, import-sort --write, eslint --fix

chore: upgrade dev deps
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade deps
  gatsby-theme-replica/package.json
  yarn.lock
Due: prettier --write

fix: active class for nav
  gatsby-theme-replica/gatsby-node.js
  gatsby-theme-replica/src/constants/nav.ts
Due: prettier --write, import-sort --write, eslint --fix

style: update profile config & style
  gatsby-theme-replica/_config.js
  gatsby-theme-replica/src/components/Profile.tsx
Due: prettier --write, import-sort --write, eslint --fix

fixup! fix: active class for nav
  gatsby-theme-replica/src/components/Profile.tsx
Due: prettier --write, import-sort --write, eslint --fix

chore: remove redundant scripts
  example/package.json
Due: prettier --write

refactor: extract rss config
  gatsby-theme-replica/_gatsby/config/rss.js
  gatsby-theme-replica/gatsby-config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: support gist & jsfiddle
  gatsby-theme-replica/gatsby-browser.js
  gatsby-theme-replica/src/components/plugin/Gist.tsx
  gatsby-theme-replica/src/components/plugin/JsFiddle.tsx
Due: prettier --write, import-sort --write, eslint --fix

feat: article meta data
  gatsby-theme-replica/_config.js
  gatsby-theme-replica/src/components/Layout/BaseLayout.tsx
  gatsby-theme-replica/src/templates/post.tsx
Due: prettier --write, import-sort --write, eslint --fix

refactor: footer copywrite author
  gatsby-theme-replica/_config.js
  gatsby-theme-replica/src/components/Layout/Footer.tsx
Due: prettier --write, import-sort --write, eslint --fix

feat: add category link in post
  gatsby-theme-replica/src/components/PostCard.tsx
  gatsby-theme-replica/src/templates/post.tsx
Due: prettier --write, import-sort --write, eslint --fix

docs: add gist & jsfiddle in example
  example/content/example-post-3.md
Due: prettier --write

ci: add stale flow
  .github/workflows/stale.yml
Due: none

ci: publish rc via github action
  .github/workflows/publish.yml
  gatsby-theme-replica/.npmignore
Due: none

refactor: use github-slugger for slugify & sanitize article heading id
  gatsby-theme-replica/gatsby-browser.js
  gatsby-theme-replica/package.json
  gatsby-theme-replica/src/utils/getHeadingInnerText.ts
  gatsby-theme-replica/src/utils/slugify.d.ts
  gatsby-theme-replica/src/utils/slugify.js
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

refactor: extract wrapPageElement
  gatsby-theme-replica/_gatsby/wrapPageElement.js
  gatsby-theme-replica/gatsby-browser.js
  gatsby-theme-replica/gatsby-ssr.js
Due: prettier --write, import-sort --write, eslint --fix

fix: tags & category type & handle null check
  gatsby-theme-replica/src/components/PostCard.tsx
  gatsby-theme-replica/src/templates/post.tsx
  gatsby-theme-replica/src/templates/tags.tsx
  gatsby-theme-replica/src/types/post.ts
Due: prettier --write, import-sort --write, eslint --fix

chore: remove space
  gatsby-theme-replica/src/components/PostCard.tsx
Due: prettier --write, import-sort --write, eslint --fix

fix: uncategorized page & list
  gatsby-theme-replica/gatsby-node.js
  gatsby-theme-replica/src/constants/key.js
  gatsby-theme-replica/src/templates/categories.tsx
  gatsby-theme-replica/src/templates/category.tsx
Due: prettier --write, import-sort --write, eslint --fix

chore: upgrade devDeps
  gatsby-theme-replica/package.json
  package.json
  yarn.lock
Due: prettier --write

feat: disqus in article & comment count
  example/gatsby-config.js
  gatsby-theme-replica/package.json
  gatsby-theme-replica/src/components/PostCard.tsx
  gatsby-theme-replica/src/components/PostCardList.tsx
  gatsby-theme-replica/src/hooks/useDisqus.ts
  gatsby-theme-replica/src/templates/post.tsx
  gatsby-theme-replica/src/types/global.d.ts
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

feat: mobile menu
  gatsby-theme-replica/src/components/Layout/NavList.tsx
  gatsby-theme-replica/src/components/Layout/TopBar.tsx
  gatsby-theme-replica/src/styles/components.css
  gatsby-theme-replica/tailwind.config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: google custom search engine
  gatsby-theme-replica/_config.js
  gatsby-theme-replica/src/components/Layout/TopBar.tsx
Due: prettier --write, import-sort --write, eslint --fix

refactor: move config into siteMeta
  example/gatsby-config.js
  gatsby-theme-replica/_config.js
  gatsby-theme-replica/src/components/Article/AuthorBar.tsx
  gatsby-theme-replica/src/components/Layout/BaseLayout.tsx
  gatsby-theme-replica/src/components/Layout/Footer.tsx
  gatsby-theme-replica/src/components/Layout/NavList.tsx
  gatsby-theme-replica/src/components/Layout/TopBar.tsx
  gatsby-theme-replica/src/components/Profile.tsx
  gatsby-theme-replica/src/components/ReadMe.tsx
  gatsby-theme-replica/src/hooks/useConfig.ts
  gatsby-theme-replica/src/hooks/useDisqus.ts
  gatsby-theme-replica/src/templates/post.tsx
Due: prettier --write, import-sort --write, eslint --fix

feat: sitemap
  example/gatsby-config.js
  gatsby-theme-replica/_gatsby/sitemap.js
  gatsby-theme-replica/gatsby-config.js
  gatsby-theme-replica/package.json
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

fix: pathPrefix config
  gatsby-theme-replica/src/components/Layout/NavList.tsx
  gatsby-theme-replica/src/hooks/useConfig.ts
Due: prettier --write, import-sort --write, eslint --fix

style: input padding
  gatsby-theme-replica/src/components/Layout/TopBar.tsx
Due: prettier --write, import-sort --write, eslint --fix

refactor: getDateString to js
  gatsby-theme-replica/_gatsby/utils/date.js
  gatsby-theme-replica/src/utils/date.ts
Due: prettier --write, import-sort --write, eslint --fix

chore: add GA in example
  example/gatsby-config.js
  example/package.json
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

fix: use date in post slug, fix prefix in path
  gatsby-theme-replica/gatsby-node.js
  gatsby-theme-replica/src/utils/slugify.js
Due: prettier --write, import-sort --write, eslint --fix

feat: pass permalink in post pageContext
  gatsby-theme-replica/gatsby-node.js
  gatsby-theme-replica/src/templates/post.tsx
Due: prettier --write, import-sort --write, eslint --fix

chore: dismiss tailwind warning, add favicon
  gatsby-theme-replica/src/components/Layout/BaseLayout.tsx
  gatsby-theme-replica/tailwind.config.js
Due: prettier --write, import-sort --write, eslint --fix

fix: anchor warning
  gatsby-theme-replica/_gatsby/wrapPageElement.js
Due: prettier --write, import-sort --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.json) or (any of: *.md)) or (any of: *.{js,jsx,ts,tsx})
  import-sort --write: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
