Repository sabrinaluo/gatsby-theme-replica: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, import-sort --write, eslint --fix

chore: setup example
  example/content/example-post-1.md
  example/content/example-post-2.md
  example/gatsby-config.js
Due: prettier --write, import-sort --write, eslint --fix

refactor: rename page to about
  example/src/pages/about.js
Due: prettier --write, import-sort --write, eslint --fix

feat: update gatsby config
  gatsby-theme-replica/gatsby-config.js
  gatsby-theme-replica/gatsby-node.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update dependencies
  .eslintrc.yml
  .lintstagedrc.json
  gatsby-theme-replica/package.json
  package.json
  yarn.lock
Due: prettier --write

feat: setup base
  gatsby-theme-replica/src/components/Layout/Base.tsx
  gatsby-theme-replica/src/components/Layout/TopBar.tsx
  gatsby-theme-replica/src/components/Layout/index.tsx
  gatsby-theme-replica/src/components/Post.tsx
  gatsby-theme-replica/src/components/PostList.tsx
  gatsby-theme-replica/src/constants.js
  gatsby-theme-replica/src/templates/home.tsx
  gatsby-theme-replica/src/templates/post.tsx
  package.json
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: add clean script
  example/package.json
  package.json
Due: prettier --write

feat: add slug field
  gatsby-theme-replica/gatsby-node.js
Due: prettier --write, import-sort --write, eslint --fix

chore: add import-sort plugin
  .importsortrc.json
  package.json
  yarn.lock
Due: prettier --write

style: import sort
  gatsby-theme-replica/src/components/Layout/Base.tsx
  gatsby-theme-replica/src/components/Layout/index.tsx
  gatsby-theme-replica/src/templates/home.tsx
  gatsby-theme-replica/src/templates/post.tsx
Due: none

chore: add tsconfig
  tsconfig.json
Due: prettier --write

fix: ts, add type
  gatsby-theme-replica/src/components/Layout/Base.tsx
  gatsby-theme-replica/src/components/Layout/TopBar.tsx
  gatsby-theme-replica/src/components/Layout/index.tsx
  gatsby-theme-replica/src/components/Post.tsx
  gatsby-theme-replica/src/components/PostList.tsx
  gatsby-theme-replica/src/templates/home.tsx
  gatsby-theme-replica/src/templates/post.tsx
Due: none

refactor: restructure layout
  gatsby-theme-replica/src/components/Layout/BaseLayout.tsx
  gatsby-theme-replica/src/components/Layout/NavTabLayout.tsx
  gatsby-theme-replica/src/components/Layout/SimpleLayout.tsx
  gatsby-theme-replica/src/components/Layout/TopBar.tsx
  gatsby-theme-replica/src/components/Layout/index.tsx
  gatsby-theme-replica/src/components/global/PageWrapper.tsx
Due: none

chore: cleanup post component
  gatsby-theme-replica/src/components/Post.tsx
  gatsby-theme-replica/src/templates/post.tsx
Due: none

feat: add normalize css
  gatsby-theme-replica/package.json
  gatsby-theme-replica/src/components/Layout/BaseLayout.tsx
  gatsby-theme-replica/src/types/global.d.ts
  yarn.lock
Due: prettier --write

feat: add draft nav tab
  gatsby-theme-replica/src/components/Layout/NavTab.tsx
  gatsby-theme-replica/src/components/Layout/NavTabLayout.tsx
Due: none

chore: add sass support
  gatsby-theme-replica/gatsby-config.js
  gatsby-theme-replica/package.json
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: setup basic style with sass
  gatsby-theme-replica/src/components/Layout/BaseLayout.tsx
  gatsby-theme-replica/src/components/Layout/NavTab.tsx
  gatsby-theme-replica/src/components/global/Style/base.scss
  gatsby-theme-replica/src/components/global/Style/index.tsx
  gatsby-theme-replica/src/types/global.d.ts
Due: none

chore: introduce material design icon
  gatsby-theme-replica/package.json
  yarn.lock
Due: prettier --write

chore: setup icon in navtab
  gatsby-theme-replica/src/components/Layout/BaseLayout.tsx
  gatsby-theme-replica/src/components/Layout/NavTab.tsx
  gatsby-theme-replica/src/components/global/Icon.tsx
  gatsby-theme-replica/src/components/global/PageWrapper.tsx
  gatsby-theme-replica/src/components/global/Style/base.scss
Due: none

feat: add Tag
  gatsby-theme-replica/src/components/Tag.tsx
Due: none

chore: upgrade deps
  gatsby-theme-replica/package.json
  package.json
  yarn.lock
Due: prettier --write

chore: add eslintignore, move husky into huskyrc
  .eslintignore
  .huskyrc.json
  package.json
Due: prettier --write

style: code format with eslint
  example/src/pages/about.js
  gatsby-theme-replica/gatsby-node.js
  gatsby-theme-replica/src/components/Layout/TopBar.tsx
  gatsby-theme-replica/src/templates/post.tsx
Due: prettier --write, import-sort --write, eslint --fix

feat: add footer
  gatsby-theme-replica/src/components/Layout/Footer.tsx
Due: none

feat: update layout & add helmet for metadata
  .lintstagedrc.json
  gatsby-theme-replica/gatsby-config.js
  gatsby-theme-replica/package.json
  gatsby-theme-replica/src/components/Layout/BaseLayout.tsx
  gatsby-theme-replica/src/components/Layout/NavTab.tsx
  gatsby-theme-replica/src/components/Layout/NavTabLayout/NavTab.tsx
  gatsby-theme-replica/src/components/Layout/NavTabLayout/NavTabItem.tsx
  gatsby-theme-replica/src/components/Layout/NavTabLayout/index.tsx
  gatsby-theme-replica/src/components/Layout/TopBar.tsx
  gatsby-theme-replica/src/components/global/Style/base.scss
  gatsby-theme-replica/src/templates/post.tsx
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: upgrade all deps
  gatsby-theme-replica/package.json
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade deps
  example/package.json
  gatsby-theme-replica/package.json
  package.json
  yarn.lock
Due: prettier --write

chore(tool): add stylelint
  .lintstagedrc.json
  .stylelintrc.json
Due: prettier --write

chore: update gitignore
  .gitignore
Due: none

feat: setup tailwind & upgrade deps
  example/package.json
  gatsby-theme-replica/package.json
  gatsby-theme-replica/postcss.config.js
  gatsby-theme-replica/src/styles/global.css
  gatsby-theme-replica/tailwind.config.js
  package.json
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: remove unused files, add global css
  gatsby-theme-replica/src/components/global/Icon.tsx
  gatsby-theme-replica/src/components/global/PageWrapper.tsx
  gatsby-theme-replica/src/components/global/Style/base.scss
  gatsby-theme-replica/src/components/global/Style/index.tsx
  gatsby-theme-replica/src/styles/global.css
Due: none

chore: dummy category & archive template
  gatsby-theme-replica/src/templates/archive.tsx
  gatsby-theme-replica/src/templates/category.tsx
  gatsby-theme-replica/src/theme.ts
Due: none

feat: topbar
  gatsby-theme-replica/src/components/Layout/TopBar.tsx
  gatsby-theme-replica/src/styles/global.css
  gatsby-theme-replica/src/theme.ts
  gatsby-theme-replica/tailwind.config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: replace remark with mdx
  gatsby-theme-replica/gatsby-browser.js
  gatsby-theme-replica/gatsby-config.js
  gatsby-theme-replica/gatsby-node.js
  gatsby-theme-replica/gatsby-ssr.js
  gatsby-theme-replica/package.json
  gatsby-theme-replica/src/components/Post.tsx
  gatsby-theme-replica/src/templates/home.tsx
  gatsby-theme-replica/src/templates/post.tsx
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

feat: post card & post list
  gatsby-theme-replica/src/components/PostCard.tsx
  gatsby-theme-replica/src/components/PostList.tsx
Due: none

feat: create pages
  gatsby-theme-replica/gatsby-node.js
  gatsby-theme-replica/setting/utils.js
Due: prettier --write, import-sort --write, eslint --fix

feat: footer
  gatsby-theme-replica/_config.js
  gatsby-theme-replica/src/components/Layout/Footer.tsx
  gatsby-theme-replica/src/utils/url.ts
Due: prettier --write, import-sort --write, eslint --fix

feat: tailwind config & purge css
  example/tailwind.config.js
  gatsby-theme-replica/gatsby-config.js
  gatsby-theme-replica/tailwind.config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: apply tailwind to layout
  gatsby-theme-replica/src/components/Layout/BaseLayout.tsx
  gatsby-theme-replica/src/components/Layout/NavTabLayout/NavTab.tsx
  gatsby-theme-replica/src/components/Layout/NavTabLayout/NavTabItem.tsx
  gatsby-theme-replica/src/components/Layout/NavTabLayout/index.tsx
  gatsby-theme-replica/src/components/Layout/SimpleLayout.tsx
  gatsby-theme-replica/src/components/Layout/index.tsx
  gatsby-theme-replica/src/constants/nav.ts
Due: none

Path conditions:
  prettier --write: ((any of: *.json) or (any of: *.md)) or (any of: *.{js,jsx})
  import-sort --write: any of: *.{js,jsx}
  eslint --fix: any of: *.{js,jsx}
